@page
@model IndexModel

@{
    ViewData["Title"] = "Cooperativa Alfa";
}

<div class="text-center">
    <h1 class="display-4">Cooperativa Financeira Alfa</h1>

    <p>
        Sistema de modernização com Razor Pages, API .NET, COBOL,
        Helper e DB2.
    </p>

    <p>
        <a class="btn btn-primary" asp-page="/Clientes/Index">
            Acessar tela de clientes
        </a>
    </p>
</div>